{% extends 'dashboard_v2/base.html' %}

{% block pagetitle %} {{head}} Service {% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Services</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_v2:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item">Service</li>
                <li class="breadcrumb-item active">{{head}} Service</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Admin User creation form starts -->
    <section class="section">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">{{head}} Service Form</h5>
                        <!-- Floating Labels Form -->
                        <form class="row g-3" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingName" name="title"
                                        value="{{service.title}}" required>
                                    <label for="floatingName">Title</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingEmail" name="summary"
                                        value="{{service.summary}}">
                                    <label for="floatingEmail">Summary</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <textarea name="description" class="form-control" id="description" cols="30"
                                        rows="20">{{service.description}}</textarea>
                                    <label for="description">Description</label>
                                </div>
                            </div>
                            {% if service.image %}
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <img src="{{service.image.url}}" alt="{{service.image.name}}" class="img-fluid"
                                        style="height: 100px; width:auto">
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-12">
                                <div class="floating-label">
                                    <h6>Image</h6>
                                    <input type="file" name="image" id="image" accept="image/*">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">{{head}} Service</button>
                                {% if service %}
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                {% endif %}
                            </div>
                        </form><!-- End floating Labels Form -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->


<script>

</script>

{% endblock %}