{% extends 'dashboard_v2/base.html' %}
{% block pagetitle %} Disbursements {% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Disbursements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_v2:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item">Transactions</li>
                <li class="breadcrumb-item active">Disbursements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- DataTable For Users Starts -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Disbursements</h5>
                        <p>List of all disbursements made.</p>
                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Transaction ID</th>
                                        <th scope="col">Receiver</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Success</th>
                                        <th scope="col">Status Code</th>
                                        <th scope="col">Status Message</th>
                                        <th scope="col">Reversed</th>
                                        <th scope="col">Mobile</th>
                                        <th scope="col">Network</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if transactions %}
                                    {% for transaction in transactions %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{transaction.transaction_id}}</td>
                                        <td>
                                            {% if transaction.user %} {{transaction.user.fullname}} {% else %}
                                            {{transaction.mobile}} {% endif %}
                                        </td>
                                        <td>{{transaction.amount}}</td>
                                        <td>{{transaction.success}}</td>
                                        <td>{{transaction.status_code}}</td>
                                        <td>{{transaction.status_message}}</td>
                                        <td>{{transaction.reversed}}</td>
                                        <td>{{transaction.mobile}}</td>
                                        <td>{{transaction.network}}</td>
                                        <td>{{transaction.created_at|date:'F d, Y'}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="12" class="text-center">No Disbursement Found!</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}