{% extends 'dashboard_v2/base.html' %}

{% block pagetitle %} My Wallet {% endblock %}
{% load static %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_v2:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item">Wallet</li>
                <li class="breadcrumb-item active">My Wallet</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- merchant details -->
    <section class="section">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">My Wallet</h5>
                        <div class="row">
                            <!-- <br> -->
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Wallet ID</b>
                                <p class="card-text m-0">{{wallet.wallet_id}}</p>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Company Name</b>
                                <p class="card-text m-0">{{wallet.company.company_name}}</p>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Account Holder</b>
                                <p class="card-text m-0">{{wallet.merchant.fullname}}</p>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Wallet Type</b>
                                <p class="card-text m-0">{{wallet.category}}</p>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Created At</b>
                                <p class="card-text m-0">{{merchant.date_added}}</p>
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0">
                                <b>Last Modified</b>
                                <p class="card-text m-0">{{merchant.updated_at}}</p>
                            </div>

                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-4 mt-2 mb-lg-0">Balance</div>
                            <div class="col-lg-6 col-md-6 mb-4 mt-2 mb-lg-0">GH₵ {{wallet.get_main_balance}}</div>
                        </div>

                        <hr>
                        <h5 class="card-title">Settings</h5>
                        <div class="row">
                            <div class="col-md-6 p-2">
                                <div class="bg-white p-4">
                                    {% if perms.dashboard_v2.change_wallet %}
                                    <h5>STATUS</h5>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="wallet_id" value="{{wallet.wallet_id}}">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="status" id="status"
                                                value="1" {% if wallet.company.live %}checked{% endif %}>
                                            <label class="form-check-label" for="pending">Live</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <button type="submit" class="btn btn-sm btn-primary"><i
                                                    class="bi bi-save"></i>
                                                Save</button>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}